rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow users to read, write, and delete files in a folder
    // corresponding to their own user ID.
    match /avatars/{userId}/{allPaths=**} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}